@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: Neutral;
    src: url("../assets/NeutralFace.otf");
}

@font-face{
    font-family: NeutralBold;
    src: url("../assets/NeutralFace-Bold.otf");
}

@font-face{
    font-family: Krylon;
    src: url("../assets/Krylon-Regular.otf");
}

@font-face {
    font-family: 'Dirtyline36Daysoftype2022'; /* IE9 Compat Modes */
    src: url("../assets/Zighead.otf");
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body{
    background: #121212
}