@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: Neutral;
    src: url("../assets/NeutralFace.otf");
}

@font-face{
    font-family: NeutralBold;
    src: url("../assets/NeutralFace-Bold.otf");
}

@font-face{
    font-family: Krylon;
    src: url("../assets/Krylon-Regular.otf");
}